body{
    background-color: black;
}
h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}
.poster{
    width: 50%;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 100px; 
    margin-left:25% ;
}
.motivational-image{
    border: 5px solid white;
    width: 100%;
}
